.delila{
  background-color: #3addda;
  color: rgb(255, 255, 255);
  font-family:calibri;
  font-size: 12px;
  width: 100%;

}
.mas{
  background-color:rgb(255, 255, 255);
  color: #3addda;
  font-family:calibri;
  font:bolder;
  font-size: 40px;
  text-align: center;
  border-radius: 60px;
  border-color:#3addda;
  border-style: double;
  height: 60px;
  width: 60px;
}
.prod{
  color: black;
  font-family:calibri;
  font:bolder;
  font-size: 25px;
}
.prec{
  color: rgb(87, 87, 87);
  font-family:calibri;
  font:bolder;
  font-size: 20px;
}
h3{
  color: rgb(161, 161, 161);
  font-family:calibri;
  font:bolder;
  font-size: 20px;
}
.platos{
  padding-bottom: 10px;
}
.total{
  color: rgb(87, 87, 87);
  font-family:calibri;
  font:bolder;
  font-size: 30px;
}
.ingreso{
  background-color:#fc885c;
  color: rgb(255, 255, 255);
  font-family:calibri;
  font-size: 15px;
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0);
  height: 35px;
  width: 200px;

}
.select{
  border-color: white;
  color: rgb(78, 78, 78);
  font-family:calibri;
 
  font-size: 20px;
  
}